/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #eee;
  font-family: 'Montserrat';
  font-style: normal;
}

header {
  background-color: #2f364a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 70px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  margin-left: 70px;
}

#newmixbtn {
  right: 250px;
  float: left;
  width:110px;
  height:40px;
  background-color: rgb(0, 149, 218);
  border-radius: 30px;
  padding: 5px 10px;
  margin-top: 4px;
  border-color: rgb(0, 149, 218);
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.dropdown {
  position: relative;
  right: 180px;
  float: left;
}

.dropdown .dropbtn {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border-radius: 30px;
  background-image: image-url('8tracks-avatar.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.dropcontent br {
  padding-top: 10px;
}

.dropcontent {
  font-size: 14px;
  font-weight: 300px;
  display: none;
  position: absolute;
  background-color: rgb(35, 40, 55);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropcontent {
  height: 52px;
  width: 47px;
  padding: 7px;
  background-color: rgb(35, 40, 55);
  display: block;
  text-decoration: none;
}

.dropcontent .header-button {
  cursor: pointer;
}


header nav {
  width: 150px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

header nav a{
  color: white;
  font-weight: 500;
  text-decoration: none;
}


//for the login and sign up modal
#loginpath{
  padding: 5px 10px;
  background-color: rgb(47, 54, 74);
  border: 1px solid rgb(47, 54, 74);
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

#signuppath {
  background-color: rgb(0, 149, 218);
  border-radius: 15px;
  padding: 5px 10px;
  border-color: rgb(0, 149, 218);
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

#backdrop {
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  padding: 50
}

#loginimage {
  width: 50%;
  height: 100%;
  float: left;
  background-image: image-url('LoginImage.png');
  background-size: 100% 100%;
}

#modal {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 15px;
  z-index: 4;
  color: black;
  overflow: hidden;
}

.login-form-box {
  padding-top: 100px;
  height: 355px;
}

#modal button {
  position: relative;
  text-align: center;
  width: 25px;
  height: 25px;
  top: 10px;
  left: -570px;
  margin: 5px;
  border-radius: 50%;
  background-image: image-url('letter-x.jpg');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#modal input{
  border-radius: 30px;
  width: 288px;
  height: 29px;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
  padding: 5px 5px 5px 55px;
}

#swapcontainer{
  position: relative;
  height: 0px;
}

.swaplogsign {
  position: absolute;
  bottom: 0px;
  background-color: lightgray;
  height: 50px;
  width: 400px;
  bottom: -10px;
  left: 400px;
  color: white;
  text-align: center;
  line-height: 20px;

}

#usernameinput {
  background-image: image-url('login-user.png');
  background-position: 7%;
  background-repeat: no-repeat;
  background-size: 6%;
}

#passwordinput {
  background-image: image-url('key-outline.png');
  background-position: 7%;
  background-repeat: no-repeat;
  background-size: 6%;
}

#modal input[type="submit" i] {
  background-color: rgb(0, 149, 218);
  color: white;
  font-size: 14px;
  font-family: "system-ui";
  width: 308px;
  height: 18px;
  padding:20px;
  border: 1px solid lightgrey;
  border-radius: 30px;
  line-height: 0;
}

// Playlist index

#all-playlist-holder {
  display: flex;
  flex-wrap: wrap;
}











//User show page

.userInfo {
  display: flex;
  padding-top: 20px;
  height: 350px;
  background-color: rgb(76, 76, 76);
}

#username {
  padding-bottom: 40px;
}

#userDetails {
  line-height: 30px;
  justify-content: space-around;
  display: block;
}

#count {
  margin-left: 30px;
  margin-top:50px;
  margin-bottom: 10px;
}

#follow-text {
  margin-left: 30px;
  width: 300px;
  text-align: center;
}

#followedcount {
  width: 50%;
  text-align: center;
  font-size: 52px;
  margin: 30px;
}

#followcount {
  width: 50%;
  text-align: center;
  font-size: 52px;
  margin: 30px;
}

#userDetails {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
  color: white;
  font-family: 'Montserrat' bold;
}

#username {
  padding-left: 30px;
  margin-top: 400px;
  font-size: 42px;
  font-weight: 700;
  color: white;
}

#userAvatar {
  height: 305px;
  width: 305px;
  background-image: image-url('8tracks-avatar.jpeg');
  background-size: 100%;
  border-radius: 155px;
  margin-left: 150px;
  float: left;
}

.userTabs {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  text-align: center;

}

.tabtoggle {
  cursor: pointer;
  height: 40px;
  flex-grow: 1;
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
  color: inherit;
}

#playlistcontent {
  font-size: 16px;
  font-weight: 700;
  color: darkgray;
}

#likecontent {
  font-size: 16px;
  font-weight: 700;
  color: darkgray;
}

#likecontent:focus{
  border-bottom: 5px solid gray;
  outline: none;
}

#playlistcontent:focus {
  border-bottom: 5px solid gray;
  outline: none;
}
// Playlist Form

.playlist-form-container {
  padding-top: 20px;
  background-color: rgb(51, 51, 51);
  color: white;

}

.playlist-form-box {
  background-color: white;
  display: flex;
  justify-content: space-around;

}

.playlist-info-form {
  width: 800px;
  display: block;
}

#title-input {
  font-size: 18px;
  font-weight: 700;
  width: 700px;
  height: 50px;
  margin-bottom: 10px;
}

#description {
  width: 700px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
}

#art {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.artcontainer {
  height: 400px;
  width: 396px;
  background-size: 100%;
  background-image: image-url('cover.1024.jpeg');
}

.artcontainer object {
  width: 100%;
  height: 100%
}

label {
  margin-top: 20px;
  background-color: lightgrey;
  border: 1px solid grey;
  cursor: pointer;
  color: black;
  font-weight: 700px;
}

#submit {
  margin-top: 80px;
  padding: 5px 10px;
  background-color: rgb(69, 69, 69);
  border: 1px solid rgb(47, 54, 74);
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}















//Track-Index
#track-index-holder {
  display:flex;
  background-color: rgb(238, 238, 238);
  justify-content: space-around;
}

#track-index {
  height: 500px;
  width: 35%;
  overflow: scroll;
}

#upload-tracks {
  width: 20%;
  text-align: center;
  font-family: 'Montserrat', sans-serif
}

#upload-tracks input {
  height: 20px;
  width: 60%;
  margin-bottom: 5px;
}

#upload-tracks #submit {
  margin-top: 20px;
  height: 30px;
}

#tracklist-holder {
  width: 28%
}


#tracklists {
}

#song {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

audio {
  background-color: rgb(51, 51, 51);

}
//Track-Index - track-div



#track-div {
  background-color: white;
  border-top: 1px solid gray;
  margin: 3px;
  display: flex;
  justify-content: space-between;
}

#title-div{
  color: black;
  font-size: 16px;
}

#album-div{
  color: black;

}

#album-span {
  color: gray;
}

#artist-span {
color: gray;
font-size: 14px;
}

#add-track-to-tracklist {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  border-radius: 30px;
  background-image: image-url('plus-sign.png');
  background-repeat: no-repeat;
  background-size: 100%;
  outline: none;
  cursor: pointer;
}

#play-track {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  border-radius: 30px;
  background-image: image-url('grey-play.png');
  background-repeat: no-repeat;
  background-size: 100%;
  outline: none;
  cursor: pointer;
}

#submit-track {
  margin-top: 80px;
  padding: 5px 10px;
  background-color: rgb(150, 150, 150);
  border: 1px solid rgb(47, 54, 74);
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  line-height: 10px;
}
